body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.header-bar {
    width: 100%;
    margin-bottom: 20px;
    background: #212121;
}

.logo {
    margin: auto;
    padding: 10px 10px 10px 15px;
    vertical-align: middle;
}

.header-text {
    font-size: 30px;
    color: white;
    vertical-align: middle;
}

.body {
    margin: 0 auto;
    width: 1024px;
}

.centered {
    text-align: center;
}

.icon {
    text-decoration: none;
    padding: 0 15px 0 15px;
}